
.Rproj.user/E7CDE54D/sources/prop/

*csv

*html

*Rhistory

*Rproj
.Rproj.user/E7CDE54D/sources/s-8D1ADCD1/

.Rproj.user/shared/notebooks/paths

.Rproj.user/shared/notebooks/

*.pper

.Rproj.user/E7CDE54D/

Assignment 10.Rmd

Rebecca Neal Assignment 6.R
